.container
{
    font-style: normal; 
    font-size: 15px;
    position:relative;
}

.linkz{
    color: rgb(80, 114, 177);
    background-color:rgb(80, 114, 177);
    position: relative;
    top: 70px;
}

.linkz:active{
    color: rgb(18, 59, 92);
}

.link1
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(215, 216, 221);
    height: 105px;
    width: 120px;
    font-size: 14px;
    margin-bottom: 125px;
    margin-left: 5px;
    border-style: inset;
    border-radius: 5%;
    border-color: rgba(199, 216, 240, 0.486);
    background-color: rgba(199, 216, 240, 0.486);
}

.link1:hover
{
    background-color: rgba(185, 229, 236, 0.753);
}

.link1:active
{
    background-color: rgba(142, 183, 241, 0.486);
}